
html{

	padding-top: 10px;

}

.pt10{padding-top: 10px;}

.contactform{max-width: 100%;height: auto;margin: auto;}

.g-recaptcha{

  float: right;

}

.button{

  margin-top: 15px;

}