@media (min-width: 1200px) and (max-width: 1440px) {
	.top_crt_style {
		padding: 0px 22px 0px;
	}
    .poket_menu > ul > li > a {
        margin-right: 15px;
    }
	.witr_sw_text_area {
		width: 85%;
	}
	.skill_inner {
		padding: 100px 30px 70px 70px;
	}
	.poket_nav_area, .trp_nav_area .container-fluid, .transprent-menu .poket_nav_area .container-fluid {
		padding-right: 30px;
		padding-left: 20px;
	}
	.tab_content_inner {
		padding: 5px 0px 0px 25px;
	}
	.recent-post-image img {
		margin-top: 0;
	}
	.faq_content_inner {
		margin-left: 0;
	}
	.cleaner_portfolio_area .witr_section_title_inner p {
		width: 70%;
	}





}
@media (min-width: 1024px) and (max-width: 1600px) {
    .em_slider_social {
        top: 45%;
    }
}
@media (min-width: 1170px) and (max-width: 1366px) {
    .em_creative_header:after {
        -webkit-transform: rotate(-114deg);
        transform: rotate(-114deg);
    }
    .creative_header_address {
        padding-left: 0;
    }
}
@media (min-width: 1365px) and (max-width: 1660px) {
    .poket-header-top,
    .poket_nav_area,
    .transprent-menu .poket_nav_area,
    .trp_nav_area {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
	.top_crt_style {
		padding: 26px 30px 23px 20px;
	}
	.witr_swiper_height {
		height: 700px;
	}
    .poket-header-top,
    .poket_nav_area,
    .transprent-menu .poket_nav_area,
    .trp_nav_area {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }
	 .witr_sw_text_area {
		width: 90%!important;
	}
	.witr_swiper_content h2, .witr_swiper_content h3 {
		font-size: 55px;
	}
    .hmenu_box_style .poket_menu > ul > li > a {
        margin-right: 15px;
    }
    .em_creative_header:before {
        width: 19%;
    }
    .em_creative_header:after {
        display: none;
    }
    .cr_top_addess.top-address p {
        text-align: center !important;
    }
    .theme_cr_logo {
        text-align: center;
        margin-bottom: 30px;
    }
    .d_lg_block {
        display: block;
    }
    .creative_header_address {
        padding-left: 0;
    }
    .em_creative_header:before {
        display: none;
    }
    .menu-height-space {
        height: 0;
    }
    .em_creative_header:after {
        -webkit-transform: rotate(-100deg);
        transform: rotate(-100deg);
    }
    .poket_menu > ul > li > a {
        font-size: 15px;
        margin-left: 4px;
        margin-right: 4px;
    }
    a.dtbtn {
        font-size: 15px;
    }
    .witr_h_h10 .poket_menu > ul > li > a,
    .witr_h_h11 .poket_menu > ul > li > a,
    .witr_h_h15 .poket_menu > ul > li > a,
    .witr_h_h16 .poket_menu > ul > li > a,
    .witr_h_h17 .poket_menu > ul > li > a,
    .witr_h_h8 .poket_menu > ul > li > a {
        margin-left: 6px;
        margin-right: 6px;
    }
	/* feature area css */
	.cr_feature_area {
		margin: 0;
		padding: 120px 0 0;
	}
	.cr_feature_area .sub-item h3 a {
		font-size: 22px;
	}
	/* about area css */
	.cr_about_content_inner {
		padding: 0px 0px 0 10px;
	}
	/* about area css */
	.cr_about_image_inner .single_image img {
		margin-left: 0;
	}
	.cr_about_content_inner {
		padding: 0px 0px 0 0;
	}
	.cr_about_content_inner .headh1_style {
		padding-top: 0;
		padding-bottom: 0;
	}
	.witr_section_title_inner h3 {
		padding: 20px 0 0 0;
	}
	.about_list_image_inner {
		display: inherit;
	}
	.about_list_image_inner .single_image img {
		margin-right: 0;
		margin-top: 20px;
	}
	/* call action area css */
	.poket_content h2, .poket_content h3 {
		font-size: 25px;
	}
	.cal_to_toggole {
		padding: 56px 30px 0px 0px;
	}
	/* choose area css */
	.cr_choose_area .cr_about_content_inner {
		padding: 0px 0px 0 0;
	}
	.cr_choose_list_inner {
		display: inherit;
	}
	.cr_choose_area .witr_widget_list {
		margin-bottom: 30px;
	}
	.cr_choose_area  .witr_btn {
		margin-top: 10px;
	}
	/* tab area css */
	.witr_adv_tab_menu {
		margin: 0;
	}
	.tab-content {
		margin: 0;
	}
	/* skill area css */
	.skill_inner {
		margin: 0px 0px 0px -10px;
		padding: 30px 10px 70px 20px;
	}
	/* contact area css */
	.apartment_area {
		margin-left: 0;
		margin-right: 0;
	}
	.cr_contact_area .headh1_style {
		font-size: 18px;
	}
	.cr_contact_area .headh1_style::before {
		top: 30%;
	}
    .witr_h_h9 .poket_menu > ul > li > a {
        margin-left: 2px;
        margin-right: 2px;
    }
    .witr_h_h20 .poket_menu > ul > li > a {
        margin-left: 6px;
        margin-right: 6px;
    }
    .accordion-content {
        padding: 23px 25px;
    }
    .shortcode_content h2 {
        font-size: 30px !important;
    }
    .witr_wid_col .elementor-column.elementor-col-20,
    .witr_wid_col .elementor-column[data-col="20"] {
        width: 33.33% !important;
    }
	/* blog area css */
	.recent-post-item {
		margin-bottom: 20px;
	}
    .widget .widget_media_image img {
        width: 100%;
    }
    .blog-left-side .blog-title > ul > li > a {
        margin-right: 8px;
    }
    .recent-post-text > h4 {
        margin-top: 15px;
        line-height: 1;
    }
    .footer-middle .recent-post-text > h4 {
        margin-top: -7px;
        line-height: 1;
    }
    .em-blog-content-area {
        padding: 22px 15px 7px;
    }
    .curosel-style .owl-nav div {
        left: -15px;
    }
    .curosel-style .owl-nav .owl-next {
        right: -15px;
    }
    span.cdowns {
        margin: 0 28px;
    }
    .footer-middle .mc4wp-form-fields button {
        width: 39px;
    }
    .footer-bottom:before {
        width: 100%;
    }
    #scrollUp {
        bottom: 60px;
        right: 30px;
    }
	.witr_blog_con.bs5 h2 a {
		font-size: 22px;
	}
	.recent-post-image img {
		width: 70px;
		margin-bottom: 10px;
	}
	.recent-post-image {
		margin-bottom: 20px;
	}
	/* faq area css */
	.faq_img_inner .single_image img {
		padding-right: 0;
	}
	.faq_area2 .single_image img {
		margin-left: 0;
	}
	/* portfolio area css */
	.cleaner_portfolio_area .witr_section_title_inner p {
		width: 90%;
	}


}
@media (min-width: 768px) and (max-width: 991px) {
    .all_header_abs {
        position: inherit;
    }
	.witr_swiper_height {
		height: 500px;
	}
	.text-center .witr_swiper_content h1, .text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-center .witr_swiper_content p, .text-left .witr_swiper_content h1, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-left .witr_swiper_content p, .text-right .witr_swiper_content h1, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3, .text-right .witr_swiper_content p {
		width: 100%!important;
		margin-left: auto;
		margin-right: auto;
		text-align: center!important;
	}
	.text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3 {
		font-size: 40px;
	}
	.witr_section_title_inner h1, .witr_section_title_inner h3 {
		font-size: 28px;
	}
	.text-left .witr_btn_sinner, .text-right .witr_btn_sinner {
		text-align: center!important;
	}
	.witr_sw_text_area {
		width: 96%;
	}
	.mobile_menu_logo.text-center {
		padding: 40px 0 20px;
	}
    .all_header_abs .poket-header-top {
        background: #0049ff;
    }
    .poket-header-top {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .creative_header_address {
        padding-left: 10px;
    }
    .tutor-course-loop-title h2 a {
        font-size: 17px;
    }
    .top_crt_style {
        padding-bottom: 0;
    }
    .tx_top_together {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .creative_header_curve {
        display: none;
    }
    .creative_header_logo {
        padding-right: 0;
        text-align: center;
    }
    .em_creative_header {
        background: transparent none repeat scroll 0 0;
        z-index: 999;
    }
    .creative_header_button {
        padding-bottom: 30px;
        text-align: center;
    }
    .creative_header_button:before,
    .em_creative_header:after,
    .em_creative_header:before {
        display: none;
    }
    .em_creative_header {
        padding-bottom: 0;
    }
    .poket-accourdion-title h2 i {
        display: none;
    }
    .accordion-content {
        padding: 23px 0;
    }
    .poket-accourdion-title h2 {
        padding-left: 20px;
    }
    .digital-item ul li a {
        padding: 7px 57px;
    }
    .mobil-item {
        margin-top: 30px;
    }
    .download-demo {
        text-align: center;
    }
    .digital-img img,
    .witr_app_area .digital-content h3 {
        margin-top: 0 !important;
    }
    .shortcode_content h2 {
        font-size: 35px !important;
    }
	/* feature area css */
	.cr_feature_area {
		margin: 0;
		padding: 120px 0 0;
	}
	/* about area css */
	.cr_about_image_inner .single_image img {
		margin-left: 0;
	}
	.cr_about_content_inner {
		padding: 0px 0px 0 0;
	}
	.cr_about_content_inner .headh1_style {
		padding-top: 0;
		padding-bottom: 0;
	}
	.witr_section_title_inner h3 {
		padding: 20px 0 0 0;
	}
	.about_list_image_inner {
		display: inherit;
	}
	.about_list_image_inner .single_image img {
		margin-right: 0;
		margin-top: 20px;
	}
	/* call action area css */
	.call_action_inner {
		margin-left: 0;
		margin-right: 0;
	}
	.poket_content h2, .poket_content h3 {
		font-size: 30px;
	}
	.poket_content h3 {
		font-size: 30px;
	}
	.cal_to_toggole {
		display: inherit;
		justify-content: center;
		padding: 60px 0px 30px 6px;
	}
	.poket_button.no_margin.text-right {
		text-align: center !important;
		margin-top: 30px;
	}
	/* choose area css */
	.cr_choose_area .cr_about_content_inner {
		padding: 0;
		margin-left: -15px;
	}
	.cr_choose_list_inner {
		display: inherit;
		padding-right: 0;
	}
	.cr_choose_area .witr_widget_list {
		margin-bottom: 25px;
	}
	.cr_choose_area .witr_btn {
		margin-bottom: 50px;
	}
	/* tab area css */
	.witr_adv_tab_menu {
		margin: 0 -5px;
	}
	.tab-content {
		margin: 0px 0px 0px 10px;
	}
	.tab_content_inner {
		padding: 0;
	}
	.tab_image_inner .single_image {
		margin-left: 0;
		margin-top: 30px;
	}
	.nav-tabs {
		justify-content: inherit;
	}
	.tab_inner {
		padding: 50px 10px 30px 15px;
		margin-top: 25px;
		margin-left: -20px;
		margin-right: -20px;
	}
	.tab_inner2 .tab_content_inner {
		padding: 5px 0px 0px 0px;
		margin-left: 0px;
	}
	/* skill area css */
	.skill_inner {
		padding: 20px 15px 70px 20px;
	}
	/* testimonial area css */
	.em_single_testimonial {
		padding: 60px 30px 25px 30px;
	}
	.em_testi_title h2 {
		font-size: 20px;
	}
	.em_test_thumb {
		margin-right: 10px;
	}
	/* blog area css */
	.single_blog_thumb img {
		height: 250px;
	}
	.comments-area {
		margin-left: -20px;
	}
	.single_blog.single_blog_grid.singles {
		margin-left: -20px;
	}
	.cleaner-single-blog-details-inner {
		padding: 38px 30px 45px;
	}
	.cleaner-single-icon-inner a {
		margin-bottom: 5px;
	}
	.witr_blog_con.bs5 h2 a {
		font-size: 22px;
	}
    .footer-item form label {
        margin-left: 30px;
    }
    .footer-bottom:before {
        width: 100%;
    }
    .blog-content span {
        font-size: 14px;
    }
    .blog-left-side .widget h2 {
        font-size: 19px;
    }
    .blog-page-title h2 {
        font-size: 18px;
    }
    .widget .widget_media_image img {
        width: 100%;
    }
    .blog-left-side .blog-title > ul > li > a {
        height: 30px;
        width: 30px;
        line-height: 29px;
        font-size: 15px;
        margin-right: 2px;
    }
    .recent-post-text > h4 {
        line-height: 23px;
    }
	.recent-post-text .rcomment, .recent-post-text h4 a {
		font-size: 16px;
	}
	/* contact area css */
	.witr_text_widget_inner h1, .witr_text_widget_inner h2 {
		font-size: 26px;
	}
	.cr_contact_area .headh1_style {
		font-size: 18px;
	}
	.apartment_text h2 {
		font-size: 25px;
	}
	.contact_area .apartment_text h2 {
		font-size: 29px;
	}
	.apartment_area {
		margin-left: 0;
	}
	.apartment_area {
		margin-right: 0;
	}
    .breadcumb-area {
        padding: 100px 0 !important;
    }
    .em-blog-content-area {
        padding: 15px 15px 10px;
    }
    .witr_blog_area10 .witr_blog_con {
        padding-top: 12px;
    }
    .portfolio-details-box {
        margin-left: 0;
    }
    .pimgs img {
        width: 100%;
    }
    .witr_btn {
        margin-top: 11px !important;
        margin-bottom: 15px;
    }
    .curosel-style .owl-nav div {
        left: -15px;
    }
    .curosel-style .owl-nav .owl-next {
        right: -15px;
    }
    .poket_event_thumb {
        float: none;
        margin-bottom: 15px;
    }
    .poket_single_event {
        margin: 0;
    }
    .poket_event_icon span {
        margin-right: 5px;
    }
    .blog_wrap .slick-prev,
    .testomonial-slide .slick-prev {
        left: 15px;
    }
    .blog_wrap .slick-next,
    .testomonial-slide .slick-next {
        right: 15px;
    }
    .recent-post-text {
        margin-top: 10px;
    }
    .em_slider_social {
        top: 41%;
        z-index: 999999;
        display: none;
    }
    #scrollUp {
        bottom: 60px;
        right: 30px;
    }
	.recent-post-image img {
		width: 70px;
		margin-top: 0px;
	}
	/* faq area css */
	.faq_img_inner .single_image img {
		padding-right: 0;
	}
	.faq_area2 .single_image img {
		margin-left: 0;
	}
	/* portfolio area css */
	.cleaner_portfolio_area .witr_section_title_inner p {
		width: 97%;
	}
	
	
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.witr_swiper_height {
		height: 450px;
	}
	.swiper-button-next, .swiper-button-prev {
		display:none;
	}
	.text-center .witr_swiper_content h1, .text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-center .witr_swiper_content p, .text-left .witr_swiper_content h1, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-left .witr_swiper_content p, .text-right .witr_swiper_content h1, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3, .text-right .witr_swiper_content p {
		width: 100%!important;
		margin-left: auto;
		margin-right: auto;
		text-align: center!important;
	}
	.text-center .witr_swiper_content h2, .text-center .witr_swiper_content h3, .text-left .witr_swiper_content h2, .text-left .witr_swiper_content h3, .text-right .witr_swiper_content h2, .text-right .witr_swiper_content h3 {
		font-size: 48px;
	}
	.text-left .witr_btn_sinner, .text-right .witr_btn_sinner {
		text-align: center!important;
	}
	.text-left .witr_swiper_content p {
		font-size: 15px;
	}
	.witr_sw_text_area {
		width: 96%;
	}
    .all_header_abs {
        position: inherit;
    }
	.witr_section_title_inner h1, .witr_section_title_inner h3 {
		font-size: 21px;
		line-height: 30px;
	}
	.witr_section_title_inner h2 {
		margin-bottom: 4px;
		font-size: 15px;
	}
    .single_header_address {
        padding: 0;
        padding-bottom: 25px;
    }
    .creative_header_address {
        padding-left: 0;
    }
    .cr_top_addess.top-address p {
        text-align: center !important;
    }
    .breadcumb-area {
        padding: 15px 0 !important;
    }
    .brpt h2 {
        font-size: 30px;
    }
    .witr_btn {
        padding: 10px 26px;
        margin-right: 0;
    }
    .tutor-course-archive-filters-wrap {
        margin-top: 25px;
    }
    .top-address p a,
    .top-address p span,
    .top-right-menu ul.social-icons li a {
        font-size: 13px;
    }
    .social-icons {
        text-align: center;
    }
    .footer-top-inner p {
        width: 100%;
    }
    .footer-menu ul {
        margin: 10px 0 0;
        text-align: center !important;
    }
    .footer-menu ul li a {
        font-size: 14px;
    }
    .copy-right-text p {
        text-align: center;
    }
    .footer-bottom:before {
        width: 100%;
    }
	/* feature area css */
	.cr_feature_area {
		margin: 0;
		padding: 120px 0 0;
	}
	.sub-border-2 .sub-item span {
		right: 6%;
	}
	/* about area css */
	.cr_about_image_inner .single_image img {
		margin-left: 0;
	}
	.cr_about_content_inner {
		padding: 10px 0px 0 0;
	}
	.about_list_image_inner {
		display: inherit;
	}
	.about_list_image_inner .single_image img {
		margin-right: 0;
		margin-top: 20px;
		width: 85%;
	}
	/* single service area css */
	.single_service_area .witr_text_widget_inner h2 {
		font-size: 26px;
	}
	/* call action area css */
	.call_action_inner {
		margin-left: 0;
		margin-right: 0;
	}
	.poket_content h2, .poket_content h3 {
		font-size: 20px;
	}
	.poket_content h3 {
		font-size: 20px;
	}
	.cal_to_toggole {
		display: inherit;
		justify-content: center;
		padding: 30px 0px 35px 15px;
	}
	/* service area css */
	
	/* choose area css */
	.cr_choose_area .cr_about_content_inner {
		padding: 0;
	}
	.cr_choose_list_inner {
		display: inherit;
		padding-right: 0;
	}
	.cr_choose_area .witr_widget_list {
		margin-bottom: 25px;
	}
	.cr_choose_area .witr_btn {
		margin-bottom: 50px;
	}
	/* tab area css */
	.tab_content_inner .witr_section_title_inner h2 {
		font-size: 18px;
	}
	.witr_adv_tab_menu {
		margin: 0px 50px 0px 50px;
	}
	.tab-content {
		margin: 0px 0px 0px 10px;
	}
	.tab_content_inner {
		padding: 0;
	}
	.tab_image_inner .single_image {
		margin-left: 0;
		margin-top: 30px;
	}
	.tab_inner2 .tab_content_inner {
		padding: 0px 0px 0px 0px;
		margin-left: 0px;
	}
	.tab_inner {
		padding: 50px 0px 30px 0px;
	}
	/* skill area css */
	.skill_inner {
		padding: 100px 15px 70px 25px;
	}
	/* testimonial area css */
	.em_single_testimonial {
		padding: 60px 22px 25px 25px;
	}
	.em_testi_title h2 {
		font-size: 20px;
	}
	.poket_button.no_margin.text-right {
		text-align: center !important;
		margin-top: 30px;
	}
	.em_test_thumb {
		margin-right: 0px;
	}
	.img_text_part_dflex, .two_part_dflex, .two_sec_flex {
		display: inherit;
	}
	.title_and_sub {
		margin-top: 15px;
		text-align: center;
		margin-bottom: 10px;
	}
	.two_part_img {
		margin-right: 0;
		text-align: center;
	}
	/* blog area css */
	.single_blog_thumb img {
		height: 250px;
	}
	.comments-area {
		margin-left: -20px;
	}
	.single_blog.single_blog_grid.singles {
		margin-left: -20px;
	}
	.cleaner-single-blog-details-inner {
		padding: 38px 30px 45px;
	}
	.cleaner-single-icon-inner a {
		margin-bottom: 5px;
	}
	.witr_blog_con h2 {
		margin: 15px 0 0;
	}
    .breadcumb-blog-area {
        padding: 50px 0;
    }
    .em-blog-content-area {
        padding: 20px 10px 5px;
    }
    .poket-blog-meta-left a,
    .poket-blog-meta-left span {
        font-size: 11px;
        margin-right: 3px;
    }
    .poket-blog-meta-right a,
    .poket-blog-meta-right span {
        font-size: 11px;
        margin-left: 3px;
    }
    .witr_ablog_content h2 a {
        font-size: 18px;
    }
    .blog-content ul,
    .post_reply ul,
    .single-blog-content ul {
        padding-left: 20px;
    }
    .blog-content ol,
    .post_reply ol,
    .single-blog-content ol {
        padding-left: 20px;
    }
    .comments-area .children {
        margin-left: 10px;
    }
    .comment_field .input-field {
        width: 100%;
    }
    .pdsr {
        padding-top: 50px;
    }
    .pdsl {
        padding-bottom: 90px;
    }
    #wp-calendar {
        display: block;
    }
    .copy-right-text p {
        font-size: 11px;
    }
    .footer-social-icon a i {
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        width: 35px;
    }
    .creative_header_curve {
        display: none;
    }
    .creative_header_logo {
        padding-right: 0;
        text-align: center;
    }
    .em_creative_header {
        background: transparent none repeat scroll 0 0;
        z-index: 999;
    }
    .single_header_address {
        text-align: center;
    }
    .creative_header_button {
        padding-bottom: 30px;
        position: relative;
        text-align: center;
    }
    .creative_header_icon {
        float: none;
        margin-bottom: 10px;
        margin-right: 0;
        overflow: hidden;
    }
    .creative_header_address .col-sm-4.col-xs-12 {
        padding-left: 0;
    }
    .creative_header_logo {
        display: none;
    }
    .creative_header_button:before,
    .em_creative_header:after,
    .em_creative_header:before {
        display: none;
    }
	/* contact area css */
	.witr_text_widget_inner h1, .witr_text_widget_inner h2 {
		font-size: 18px;
	}
	.cr_contact_area .headh1_style {
		 padding-bottom:0;
	}
	 .cr_contact_area .witr_text_widget_inner h2 {
		margin-top: 15px;
	}
	.cr_contact_area .witr_text_widget_inner h2 {
		font-size: 23px;
	}
	.cr_contact_area .em-service-desc p {
		font-size: 18px;
	}
	.apartment_area {
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
	}
	.apartment_text h2 {
		font-size: 25px;
	}
    .copy-right-text p {
        font-size: 15px;
    }
    .poket-blog-thumb img {
        width: 100%;
    }
    .digital-item ul li a {
        padding: 7px 27px;
    }
    .mobil-item {
        margin-top: 30px;
    }
    .witr_btn {
        margin-top: 11px !important;
        margin-bottom: 15px;
    }
    .elementor-tab-title {
        font-size: 13px !important;
    }
    .poket-accourdion-title h2 {
        font-size: 14px;
        padding-left: 20px;
    }
    .blog-img img {
        width: 100%;
    }
    .witr_blog_con {
        padding: 12px 10px 18px;
    }
    .witr_blog_con h2 {
        font-size: 21px;
    }
    .witr_post_Author {
        margin: 0 10px;
    }
    .recent-post-image {
        float: none;
    }
    .video-play-6 {
        width: 80%;
    }
    .subscribe form input {
        width: 500px;
    }
    .download-content-6 ul li a {
        padding: 12px 46px 12px 80px;
    }
    .donwload-overlay {
        padding-top: 215px;
    }
    .digital-img {
        margin-top: 100px;
    }
    .tab_content.text-left {
        text-align: center !important;
    }
    .footer-middle {
        text-align: center;
    }
    .blog-content h5 > a {
        font-size: 17px;
    }
    .blog-content span {
        font-size: 12px;
    }
    .blog-page-title h2 {
        font-size: 17px;
    }
    .wblog-content h5 > a {
        font-size: 20px;
    }
    .wblog-content span {
        margin-right: 5px;
    }
    .blog-left-side .blog-title > ul > li > a {
        margin-right: 8px;
    }
    .widget .widget_media_image img {
        width: 100%;
    }
    .recent-post-text > h4 {
        margin-top: 2px;
        line-height: 1;
    }
    .recent-post-text h4 a {
        font-size: 14px;
    }
    .witr_blog_con6 h2 a {
        font-size: 19px;
    }
    .witr_blog_con6 h5 a {
        font-size: 15px;
    }
    .witr_blog_area8 .witr_blog_con6 p {
        display: none;
    }
    .witr_shortcode_inner {
        padding: 73px 15px 63px !important;
    }
    .shortcode_content h2 {
        font-size: 27px !important;
    }
    .mc4wp-form-fields button {
        width: 100%;
        position: inherit;
        padding: 18px 30px;
        margin-top: 25px;
    }
	/* portfolio area css */
	.cleaner_portfolio_area .witr_section_title_inner p {
		width: 100%;
	}
    .portfolio-details-box {
        margin-left: 0;
    }
    .portfolio-details-box ul li span.eright {
        font-size: 15px;
        margin-left: 0;
    }
    .portfolio-details-box ul li b {
        font-size: 15px;
    }
    .portfolio-details-box h2 {
        padding-top: 20px;
    }
    .portfolio-details-box .poket-single-icon-inner a {
        margin: 0 4px;
    }
    #sb_instagram .sbi_photo_wrap {
        margin-bottom: 25px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a {
        padding: 0.5em 6px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li {
        padding: 0 0.5em;
        margin-right: 6px;
    }
    .poket-header-top {
        display: none;
    }
    .footer-sociala-icon {
        float: none;
    }
    .footer-sociala-info p {
        text-align: center;
    }
    .em_slider_social {
        top: 40%;
        display: none;
    }
    #scrollUp {
        bottom: 92px;
        right: 30px;
    }
    .slick-next,
    .slick-prev {
        display: none !important;
    }
    .owl-nav,
    .slick-next,
    .slick-prev {
        display: none;
    }
    .blog_wrap .slick-prev,
    .testomonial-slide .slick-prev {
        left: 15px;
    }
    .blog_wrap .slick-next,
    .testomonial-slide .slick-next {
        right: 15px;
    }
    .woocommerce div.product form.cart .button {
        font-size: 13px;
    }
    .product_tl_nav ul li {
        margin: 0 3px 10px;
        padding: 7px 18px;
        font-size: 16px;
    }
	/* faq area css */
	.faq_content_inner {
		margin-left: 0;
	}
	.faq_img_inner .single_image img {
		margin-left: 0;
		padding-right: 0;
		margin-top: 20px;
	}
	.faq_area2 .single_image img {
		margin-left: 0;
	}
	
	
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .blog-part {
        text-align: center;
    }
    .poket-header-top {
        display: block;
    }
}
@media (min-width: 10px) and (max-width: 991px) {
    .mobile-menu {
        display: block !important;
        height: auto;
    }
    .mobile_logo_area {
        display: block !important;
    }
    .poket-main-menu {
        display: none !important;
    }
    .d_md_none {
        display: none !important;
    }
    .main_menu_pop_area.witr_h_h23 {
        display: none;
    }
}
@media (min-width: 10px) and (max-width: 991px) {
    .text_m_center {
        text-align: center !important;
    }
    .text_m_right {
        text-align: right !important;
    }
    .text_m_left {
        text-align: right !important;
    }
    .menu_18.top-address p span {
        font-size: 13px;
    }
    .footer-top-inner p {
        width: 85%;
    }
}
@media (min-width: 10px) and (max-width: 768px) {
    .ps_absulate {
        position: inherit !important;
    }
    .psc_absolute {
        position: inherit !important;
    }
}
@media (min-width: 570px) and (max-width: 767px) {
    .text_s_center {
        text-align: center !important;
    }
    .text_s_right {
        text-align: right !important;
    }
    .text_s_left {
        text-align: right !important;
    }
    .footer-top-inner p {
        width: 95%;
    }
}
@media (min-width: 10px) and (max-width: 570px) {
    .poket-header-top {
        display: none;
    }
}
